<RunSettings>
  <TestRunParameters>
    <Parameter name="EnvironmentUnderTest" value="test" />
    <Parameter name="EnvironmentUnderTestDomain" value="testing.com" />
    <Parameter name="EnvironmentUnderTestPort" value="7000" />
    <Parameter name="ExampleDbServer" value="company-sql-env" />
    <Parameter name="ExampleDb" value="company.product.database" />
  </TestRunParameters>
</RunSettings>